<form class="add-task-form" action="">
  <p class="error"></p>
  <input type="text" name="name" id="" placeholder="" />
  <input class="form-btn" type="submit" name="submit" placeholder="Log in" />
</form>
<div class="tasks"></div>
