<div class="login-form-wrapper">
  <h2>Login Form</h2>
  <form class="login-form" method="POST">
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input class="form-btn" type="submit" name="submit" placeholder="Log in" />
  </form>
  <p class="error"></p>
</div>
