<div class="register-form-wrapper">
  <h2>Register Form</h2>
  <form class="register-form">
    <input type="text" name="name" placeholder="Name" />
    <p class="register-error name-error"></p>
    <input type="text" name="email" placeholder="Email" />
    <p class="register-error email-error"></p>
    <input type="password" name="password" placeholder="Password" />
    <p class="register-error password-error"></p>
    <input
      class="form-btn"
      type="submit"
      name="submit"
      placeholder="Register"
    />
  </form>
  <p class="error"></p>
</div>
